<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<header>
    <div class="headertext">
        <form method="post">
            <a class="nodec" href="homepage.php"><label class="button pointer nobackground hlabel"><b>NHL WEBSHOP</b></label></a>
            <input class="search" type="text" name="zoeken" placeholder="Zoeken">
            <a href="cart.php"><span class="material-icons pl-6 pr-6" style="vertical-align: middle;">shopping_cart</span></a>
            <a class="nodec" href="index.php"><label class="button pointer nobackground"><b>Logout</b></label></a>
        </form>
    </div>
</header>
